/* $Id: fusion-starter-style.css,v 1.1.2.7 2010/07/04 01:51:31 sociotech Exp $ */

/* Basic Typography & Colors
-------------------------------------------------------------- */
/* Add general site styling here for typography and background */
body {
  color:#222;
  font-size: 75%; /* also set in fusion_starter.info: settings[base-font-size] = font-size-12 */
  /*tm*/
	font-family:"Times New Roman",Georgia,serif;
}

/* Default link styles - separate a:visited for a different visited link style */
a, a:link, a:visited {
	color: #777;
}

h4 a, h4 a:link, h4 a:visited {
	color: #222;
	border-bottom: solid 1px #555;
	font-family:Arial,Helvertica,sans-serif;
}

/* Hover/active link styles. Don't forget :focus for accessibility */
a:hover, a:focus, a:active {
	color:#ddd;
	font-family:Arial,Helvertica,sans-serif;
}


/* Specific Typography
-------------------------------------------------------------- */
#site-name {
  font-size: 300%;
  line-height: 150%;
}

.footer-message {
  font-size: 90%;
}

#content-content {
	margin-top: 20px;
}

#content-content .node h1.title,
.node-type-published-article h1.title {
	display:none;
	/* color:#222;
	font-size: 280%;
	letter-spacing: -.03em;
	line-height: 100%; */
}

#content-content
.node-type-reportage h1.title {
	color:#222;
	font-size: 280%;
	letter-spacing: -.03em;
	line-height: 100%; 
}

#content-content .node h2.subhead {
	color:#777;
	/** font-size: 200%; JIRA issue, UNDERCOVER-25. aof1 Jul 23, 2012 */
  font-weight: normal; /**  JIRA issue, UNDERCOVER-25. aof1 Jul 23, 2012 */
	line-height: 1.2em;
}


/* HTML Elements
-------------------------------------------------------------- */
body {
  background-color: #eee;
}

/* Site Info
-------------------------------------------------------------- */
/* Wrapper around logo, site name, and slogan */
.header-site-info span {
  display: block;
}

/* Link and hover styles for site name */
#site-name a:link,
#site-name a:visited,
#site-name a:hover,
#site-name a:active {
	color:#222;
	text-shadow: 1px 1px #fff;
}

a.link.dlts, a.link.dlts:link, a.link.dlts:visited {
  color: #525252;
}

a.link.dlts:hover, a.link.dlts:active, a.link.dlts:focus {
  color: #000;
}

/* Regions

  Classes (.region-name) should always be used instead of IDs (#region-name) so
  that Skinr styles can override them with a class later
-------------------------------------------------------------- */

/* All Regions
-------------------------------------------------------------- */
/* By default this wrapper is set to 100% width and centered -- override here to
  narrow wrapper or align left or right */
.page {
}

/* The 0 values here remove padding and spacing at the bottom of the page.
  Remove to add a gap at the very bottom of the page */
.page-inner {
  border: 0;
  margin-bottom: 0;
  padding: 0;
}


/* Header Regions
-------------------------------------------------------------- */
/* Header Top region to the bottom of Header region */
/* For full-width header background, add background image/color here */
.header-group-wrapper {
}

.header-group {
	background-color: #eee;
	
	border-bottom:#990000 solid 5px;
}

/* Header Top region which sits above the header */
/* Works well with inline  login or inline menu block style */
.header-top-wrapper {
}

.header-top {
}


/* Primary Menu
/-------------------------------------------------------------- */
/* Add general styles for primary menu here, such as typography, borders, floats,
  or spacing above/below */
.primary-menu {
	background-color: #eee;
	font-family:Arial,Helvetica,sans-serif;
}

/* styles for Superfish primary menu */
.primary-menu-inner ul.sf-menu {
   
}

/* Link style for top level menu items, add padding here */
.primary-menu-inner ul.sf-menu a,
.primary-menu-inner ul.sf-menu a:visited  {
	color:#fff;
}

.primary-menu-inner ul.sf-menu a:hover,
.primary-menu-inner ul.sf-menu a:active,
.primary-menu-inner ul.sf-menu a:focus {
	color:#ccc;
}

/* These are the top level menu items, add border-right here for separators */
.primary-menu-inner ul.sf-menu li {
	background-color: #525252;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
	margin-right: 1px;
	padding:0 1.5em;
}

/* Add border-right: 0; here to remove separator on last menu item */
.primary-menu-inner ul.sf-menu li.last {
}

/* Style for container of dropdown, add background or border */
.primary-menu-inner ul.sf-menu ul {
	background-color: #fff;
}

/* Style for individual dropdown menu items, add border-bottom for separators */
.primary-menu-inner ul.sf-menu li li {
	border-bottom: solid 1px #fff;
}

.primary-menu-inner ul.sf-menu li li.last {
	border-bottom: none;
}

.primary-menu-inner ul.sf-menu li li li {
}

/* Style for hover of dropdown menu items (add background-color here) */
.primary-menu-inner ul.sf-menu li ul li:hover,
.primary-menu-inner ul.sf-menu li ul li.sfHover {
}


/* Secondary menu
-------------------------------------------------------------- */
/* This menu usually appears in the header as a set of simple text links */
.secondary-menu {
}

/* Set general style for menu here -- background, alignment, etc. */
.secondary-menu-inner ul.links {
}

/* Add a border-right here for a separator */
.secondary-menu-inner ul.links li {
}

/* Add border-right: 0; here to remove right separator on last menu item */
.secondary-menu-inner ul.links li.last {
}

/* Styles for links */
.secondary-menu-inner ul.links li a:link,
.secondary-menu-inner ul.links li a:visited {
  padding: 3px;
}

.secondary-menu-inner ul.links li a:hover,
.secondary-menu-inner ul.links li a:focus,
.secondary-menu-inner ul.links li a.active {
}


/* Header - Search
-------------------------------------------------------------- */
.search-box {
}

.search-box-inner {
}

.search-box-inner form#search-theme-form {
}

.search-box-inner input#edit-search-theme-form-header {
}


/*  Preface Regions
-------------------------------------------------------------- */
/* The Preface Top region sits between the header and the Main Area
 (columns, sidebars, and main content).  The Preface Bottom region
 is inside the Main Area. */
.preface-top-wrapper {
}

.preface-top {
}

.preface-top-inner {
}

.preface-bottom {
}

.preface-bottom-inner {
}


/*  Main Area (content + sidebars + preface bottom + postscript top)
-------------------------------------------------------------- */
.main-wrapper {
}

/* Sidebar Regions
-------------------------------------------------------------- */
/* Sidebar widths can be controlled through theme settings */
.sidebar-first {
}

.sidebar-first-inner {
}

.sidebar-last {
	margin-top: 20px;
}

#sidebar-last ul,
#sidebar-last ol {
	margin-left: 1em;
}

.sidebar-last-inner {
	padding: 10px 0;
}

.sidebar-first h2, .sidebar-last h2 {
	border-bottom: 3px solid #bbb;
	color:#990000;
	padding-bottom: .2em;
}

#sidebar-last .view ul {
	margin-left: 0;
}

#sidebar-last .view li {
	border-bottom: solid 1px #bbb;
	list-style-type: none;
	list-style-image: none;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

/* Content Regions
-------------------------------------------------------------- */
.content-top {
}

.content {
}
.content-inner {
}

.content-inner p {
	margin-left:50px;
	width:75%;
}
.content-inner div.description p, div#media p, div#effect p {
	margin-left:0;
	width: 95%;
}

.content-bottom {
}

/* This region only appears on full node pages. It's useful for ads or other
  content between the body of the node and its comments */
.node-bottom {
}

/*  Postscript & Footer Regions
-------------------------------------------------------------- */
.postscript-top {
}

.postscript-top-inner {
}

.postscript-bottom-wrapper {
}

.postscript-bottom {
}

.postscript-bottom-inner {
}

.footer-wrapper {
}

.footer {
}

.footer-inner {
}

.footer-message-wrapper {
}

.footer-message {
}

.footer-message-inner {
	margin: 20px 0;
	color:#aeaeae;
	text-align: center;
	text-shadow: 1px 1px #fff;
}

.footer-message-text {
}


/* Page titles
/-------------------------------------------------------------- */
/* Page and full node titles */
h1.title {
  color:#990000;
	font-family:"Times New Roman",Georgia,serif;
	font-weight:lighter;
	margin-top:20px;
  /** text-transform:capitalize; aof request from JIRA issue UNDERCOVER-25 */
}


/* Default node styles
/-------------------------------------------------------------- */
/* Change unpublished and preview colors for dark background themes */
.node-unpublished {
  background-color: #fff4f4;
}
.preview .node {
  background-color: #ffffea;
}

/* Typography for node titles */
h2.title {
  color:#990000;
  font-family:Arial,Helvetica,sans-serif;
	font-weight:lighter;
	text-transform:uppercase;
}
.field-content h2.title {
  color:#990000;
  font-family:"Times New Roman",Georgia,serif;
  font-weight:lighter;
  margin-top:20px;
  text-transform: none;
}

/* Colors and styles for linked node titles, ie. teaser listing at /node */
h2.title a:link,
h2.title a:visited {
}

h2.title a:hover,
h2.title a:focus,
h2.title a:active {
}

/* Separators and padding for node teasers */
.teaser {
}

/* Author/date info */
.meta {
	margin-bottom: 10px;
}

.submitted {
	color:#999;
}

/* Links for nodes (taxonomy, commenting, read more, etc) */
.node ul.links li {
}
.node ul.links a {
}

/* Only more/read more links */
div.node .read-more a,
div.node .more-link a {
}

/* Drupal Messages
/-------------------------------------------------------------- */
/* General style for all errors/messages (border, padding, etc.) */
div.content-messages div.messages,
div.content-help div.help {
}

/* Status messages: green */
div.content-messages-inner div.status {
}

/* Warning messages: yellow */
div.content-messages-inner div.warning {
}

/* Error messages: red */
div.content-messages-inner div.error {
}

/* Help messages: blue */
div.content-help-inner div.help {
}

/* Error that appears when a required form field is not filled out */
.form-item input.error,
.form-item textarea.error,
.form-item select.error {
  border: 1px solid #aa1144;
}

/* "New" text and required form field asterisk (default = red) */
.marker,
.form-required {
  color: #aa1144;
}


/* Default block title styles
/-------------------------------------------------------------- */
h2.block-title {
	font-family:Arial,Helvetica,sans-serif;
	font-weight:lighter;
	text-transform:uppercase;
}


/* Breadcrumbs
-------------------------------------------------------------- */
.breadcrumb {
	margin: 1em 0;
}

.breadcrumbs.block {
	margin-bottom: 0;
}

.breadcrumbs a:link,
.breadcrumbs a:visited {
}


/* Tab Menus
/-------------------------------------------------------------- */
#content-tabs {
  background-color: transparent;
  float: left; /* LTR */
  margin: 20px 0;
  padding: 0;
}

#content-tabs ul.primary,
#content-tabs ul.secondary {
  border-bottom: 1px solid #000;
  clear: both;
  float: left; /* LTR */
  margin: 0;
  padding: 0 10px;
}

#content-tabs ul.secondary {
  border-bottom: 1px solid #555;
  margin-top: 10px;
  text-transform: lowercase;
}

#content-tabs ul.primary li,
#content-tabs ul.secondary li {
  border-style: none;
  display: inline;
  float: left; /* LTR */
  list-style: none;
  margin: 0 10px;
  padding: 0;
}

#content-tabs ul.primary li a:link,
#content-tabs ul.primary li a:visited,
#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  background-color: transparent;
  border: none;
  color: #000;
  float: left; /* LTR */
  font-weight: bold;
  margin: 0;
  padding: 0 0 6px 0;
  text-decoration: none;
  white-space: nowrap;
}

#content-tabs ul.secondary li a:link,
#content-tabs ul.secondary li a:visited {
  color: #555;
}

#content-tabs ul.primary li a.active:link,
#content-tabs ul.primary li a.active:visited {
  border-bottom: 4px solid #000;
  color: #555;
  padding-bottom: 2px;
}

#content-tabs ul.secondary li a.active:link,
#content-tabs ul.secondary li a.active:visited {
  border-bottom: 4px solid #555;
  color: #777;
  padding-bottom: 2px;
}

#content-tabs ul.primary li a:hover,
#content-tabs ul.primary li a:focus,
#content-tabs ul.secondary li a:hover,
#content-tabs ul.secondary li a:focus {
  border-bottom: 4px solid #777;
  color: #777;
  padding-bottom: 2px;
}

/* Pagers
-------------------------------------------------------------- */
ul.pager {
}

ul.pager li {
}

ul.pager a,
ul.pager li.pager-current {
  border-color: #333;
}

ul.pager li.pager-current {
  background-color: #777;
  color: #fff;
}

ul.pager a:hover,
ul.pager a:active,
ul.pager a:focus {
  background-color: #777;
  border-color: #333;
  color: #fff;
}

/* Forms
/-------------------------------------------------------------- */
/* Typography and backgrounds for all form buttons */
form input.form-submit {
  margin: 2px;
  padding: 3px 5px;
}

/* Hover style for form buttons */
form input.form-submit:hover,
form input.form-submit.hover,
form input.form-submit:focus {
}

/* Typography, background, borders, padding for form fields */
.form-item input,
.form-item select,
.form-item textarea {
}

/* Remove backgrounds and border on radios and checkboxes */
.form-item .form-radio,
.form-item .form-checkbox {
  background: none;
  border: none !important;
}

/* Fieldset wrapper around groups of form elements -- add border here */
fieldset {
}

/* Typography and spacing for legend of fieldsets */
fieldset legend {
}

/* Link style for legend of fieldsets */
fieldset legend,
legend.collapse-processed,
legend.collapse-processed a:link,
legend.collapse-processed a:visited {
}

/* Custom icons on (open) collapsible fieldsets */
html.js fieldset.collapsible legend a:link,
html.js fieldset.collapsible legend a:visited {
}

/* Custom icons on (closed) collapsible fieldsets */
html.js fieldset.collapsed legend a:link,
html.js fieldset.collapsed legend a:visited {
}


/* Tables
-------------------------------------------------------------- */
table {
}

/* Body of tables */
tbody {
  border-top: 1px solid #ccc;
}

/* Header of tables */
thead th,
th {
  border-bottom: 3px solid #ccc;
}

tbody th {
  border-bottom: 1px solid #ccc;
}

/* Alternating row background styles */
tr.even,
tr.even td {
  background-color: #eee;
  border-bottom: 1px solid #ccc;
}

tr.odd,
tr.odd td {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
}

td.active {
}

tr.drag td,
tr.drag-previous td {
  color: #000;
}


/* Maintenance Page
/-------------------------------------------------------------- */
/* Maintenance page tpl file in Fusion Core has simplified layout, but you can
  also add specific styles, such as a background, just for your offline page */
.in-maintenance  {
}


/*--------------------------------------------------------------*/
/* Module styles
/-------------------------------------------------------------- */


/* Book
/-------------------------------------------------------------- */
.book-navigation .menu {
  border-top: 1px solid #ccc;
}

.book-navigation .page-links {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}


/* Comments
/-------------------------------------------------------------- */
/* Style for each individual comment */
div.comment {
}

/* Subject (title) of each comment */
div.comment h3.title {
}

/* Links (edit, reply, delete) for each comment */
div.comment div.links a,
div.comment ul.links a {
}

/* Alternating styles for even/odd comments */
.comments div.odd {
  background-color: #fff;
}

.comments div.even {
  background-color: #eee;
}

/* A special highlight style for a comment by the author of the node */
.comments div.comment-by-author {
  background-color: #ddd;
}

/* Comment signatures */
.signature {
  border-top: 1px solid #d6ddb9;
}

/* User avatars in comments */
.comment-wrapper .picture img {
}


/* Forum
/-------------------------------------------------------------- */
#forum .description {
}

.forum-topic-navigation {
  border-top: 1px solid #888;
  border-bottom: 1px solid #888;
}


/* Poll
/-------------------------------------------------------------- */
div.poll div.bar {
  background-color: #ddd;
}

div.poll div.bar div.foreground {
  background-color: #999;
}


/* Profiles
/-------------------------------------------------------------- */
.profile .picture {
  float: none;
}

/* Styles for sub-headings on user profiles */
.profile dt {
  background-color: #ccc;
}


/* Ubercart - catalog
/-------------------------------------------------------------- */

/* Horizontal list of subcategories in catalog */
ul.uc-categories {
}

.uc-categories li a {
  font-weight: bold;
  padding: 0 5px 0 3px;
}

/* Product and category names */
.catalog-grid-title a:link,
.catalog-grid-title a:visited,
.category a:link,
.category a:visited {
}

.catalog-grid-title a:hover,
.catalog-grid-title a:focus,
.category a:hover,
.category a:focus {
}

/* Sell price in Ubercart catalog */
.category-grid-products .catalog-grid-sell-price {
}

/* Ubercart - add to cart buttons
/-------------------------------------------------------------- */

/* Add to cart buttons */
input.node-add-to-cart,
input.list-add-to-cart {
}

/* Hover and focus styles, with .hover class added for IE6 support */
input.node-add-to-cart:hover,
input.node-add-to-cart.hover,
input.node-add-to-cart:focus,
input.list-add-to-cart:hover,
input.list-add-to-cart.hover,
input.list-add-to-cart:focus {
}

/* Ubercart - product nodes
/-------------------------------------------------------------- */

#field-group {
}

#price-group {
}

/* Product images */
.product-image a img {
}

.product-image a:hover img,
.product-image a:focus img {
}

/* Display price on full product nodes */
.full-node .product-group .uc-price-display {
}

/* Product attributes on full nodes */
.full-node .product-group .attributes {
}

/* Ubercart - general / checkout
/-------------------------------------------------------------- */

/* For optional "Powered by Ubercart" footer message */
#store-footer {
}

#store-footer a:link,
#store-footer a:visited {
}

/* View cart/Checkout links in Ubercart cart block */
.cart-block-summary-links ul.links li a {
}

.cart-block-summary-links ul.links li.cart-block-checkout a:link,
.cart-block-summary-links ul.links li.cart-block-checkout a:visited {
}

/* Key checkout process buttons: Checkout, Continue, and Submit Order */
#uc-cart-view-form #edit-checkout,
#uc-cart-checkout-form #edit-continue,
#uc-cart-checkout-review-form #edit-submit {
}

/* Table on final order review page */
.order-review-table {
}

#cart-form-products table th {
  border-bottom: 3px solid #dec2c3;
}


/* Skinr
/-------------------------------------------------------------- */

/* This is a sample Skinr style to get you started. See fusion_starter.info */
.fusion-example-stylename .inner {
  /* When setting the background color, also set foreground colors for text and
    links, even if it's similar to the default body style. Remember, this block
    style may be used in regions with other foreground colors, thus making text
    invisible if left unspecified */
  background-color: #ccc;
  color: #000;
  /* All padding and borders should go on the .inner div, so as not to break
    the widths of the grid */
  border: 3px solid #000;
  padding: 10px;
}


/* Undercover Custom Styles
/-------------------------------------------------------------- */

/* Site Name */

#site-name {
	margin-top: 40px;
}

/* Undercover User */

#undercover-search-box {
	float: right; 
	margin-left: 20px;
	margin-top: 10px;
}

	#undercover-search-box input#edit-search-theme-form-header {
		border: solid 1px #ccc;
		padding: 4px;
	}
	
	#undercover-search-box input#search_header.search_submit {
		border: solid 1px #ccc;
		background: #eee;
		border-radius: 4px;
			-moz-border-radius: 4px;
			-webkit-border-radius: 4px;
		color:#999;
		padding: 2px 6px;
	}

#undercover-user {
	background: #ddd;
	border-bottom: solid 1px #d5d5d5;
	color: #999;
}

#undercover-user-inner {
	width: 960px;
	margin: 0 auto;
}

#undercover-user ul {
	float: right;
	margin: 10px;
}

#undercover-user li {
	float: left;
	list-style-image: none;
	list-style-type: none;
	margin: 2px 5px;
}

#undercover-user a:link,
#undercover-user a:visited {
	color:#999;
	text-shadow: 1px 1px #fff;
}

#undercover-user a:hover {

}

#undercover-user li.undercover-user-name {
	color:#656565;
	font-weight: bold;
	text-transform: uppercase;
	margin-right: 5px;
}

/* Search */

#search {
	float: right;
}


/* Header */
#main {
	background-color: #fff;
	border-radius: 4px;
		-moz-border-radius: 4px;
		-webkit-border-radius: 4px;
}

#header-group-wrapper {
	
}

.primary-menu.block {
	margin-bottom: 0;
}

/*------------------------------------
Cluster View & Supplementary Articles
------------------------------------*/

.page-archive h1.title {
	font-family:Arial,Helvetica,sans-serif;
	text-transform: uppercase;	
}


.view-archive-reportage div.views-row,
.view-archive-documents div.views-row,
.view-taxonomy-term div.views-row  {
	border-bottom:solid 1px #eee;
	margin-bottom: 5px;
	margin-top: 10px;
	padding-bottom: 5px;
}

		.view-archive-reportage div.views-row-last,
		.view-archive-documents .views-row,
		.view-taxonomy-term div.views-row {
		border-bottom: 0;
		}

.view-archive-reportage div.views-field-title,
.view-archive-documents div.views-field-title,
.view-taxonomy-term div.views-field-title {
	font-size: 16px;
}

.view-archive-reportage div.views-field-title a:link,
.view-archive-reportage div.views-field-title a:visited,
.view-archive-documents div.views-field-title a:link,
.view-archive-documents div.views-field-title a:visited
 {
	color:#990000; /* #EF2C2C; */
	font-family:"Times New Roman",Georgia,serif;
	text-transform:capitalize;
}
.view-archive-reportage div.views-field-title a:link,
.view-archive-reportage div.views-field-title a:visited,
.view-archive-reportage div.views-field-title a:hover,
.view-archive-reportage div.views-field-title a:active
 {
    /*tm*/
	font-family:"Times New Roman",Georgia,serif;
	text-transform:capitalize;

}
.view-archive-documents div.views-field-title a:hover,
.view-archive-documents div.views-field-title a:visited,
.view-archive-reportage div.views-field-title a:hover,
.view-archive-reportage div.views-field-title a:visited
{
    /*tm*/
	color:#ff3333;
}

.view-archive-reportage .views-field-teaser p {
	margin-bottom: 5px;
	margin-top: 0;
}


/*------------------------------------
Clusters
------------------------------------*/

.node-type-reportage #content-content h3 {
	border-bottom: 3px solid #990000;
	color:#990000;
	
	font-family:Arial,Helvetica,sans-serif;
	font-size: 100%;
	font-weight: normal;
	padding-bottom: .2em;
	text-transform: uppercase;
}

.node-type-reportage #content-content .description h3 {
    border-bottom: 3px solid #990000;
	color:#FFFFFF;
}

#reportage-right {
	float: left;
	margin-left: 20px;
	width: 400px;
}


#reportage-left {
	float: left;
	width:260px;
}

#reportage-left #image {
	margin-bottom: 20px;		
}
	
	#reportage-left img {
		border: 8px solid #eee;
	}
	
	#reportage-left p {
		margin-top: 0;
	}
	
#reportage-left div#reporters {
	margin-top: 10px;
}

.node-type-reportage #reportage-left div.description {
	background-color: #CCCCCC; 
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	margin-top: 20px;
	padding: 10px;
	text-shadow: 1px 1px #fff;
}

#reportage-left .terms a:link, #reportage-left .terms a:visited {
  background: #eee;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 4px 10px;
  text-decoration: none;
}

.block #articles ul {
	margin-left: 0;
}

#articles li {
	border-bottom: 2px solid #ccc;
	font-size: 90%;
	list-style-image: none;
	list-style-type: none;
	margin-bottom: 10px;
	padding-bottom: 10px;
}

#articles li .heading {
	font-size: 120%;
}

#articles h4 .subheading{
	color:#777;
	font-style: italic;
	font-weight: normal;
}

#articles h4 .pipe {
	color:#ddd;
}

#article-image #image img {
	border: 8px solid #eee;
}


/*------------------------------------
Published Article Nodes
------------------------------------*/

#in-cluster, #source-info, #excerpt, #full-article, #description, #rights-info, #links {
	padding-left: 10px;
	padding-right: 10px;
}

/*labels*/
.node-type-published-article #content-content label  {
	color:#990000;
	float: left;
	font-family:Arial,Helvetica,sans-serif;
	margin-right: 10px;
	text-transform: uppercase;
}

.node-type-published-article #content-content label.excerpt  {
	font-family:"Times New Roman",Georgia,serif;
	font-weight: bold;
	text-transform: lowercase;
	text-shadow: 1px 1px #fff;
}

.node-type-published-article #content-content {
}

.node-type-published-article span.label {
	color:#999;
}

/**/


#full-article, #description {
	margin-bottom: 10px;
}

#article-banner {
		background-color: #f5f5f5;
	}

#article-image {
	margin:0 20px 20px 0;
}

#source-info {
	color:#222;
	font-weight: bold;
}

		#source-info a:link, #source-info a:visited {
		color:#222;
		text-decoration: underline;
		}

#in-cluster {
	clear: both;
	background-color: #CCCCCC;
	border:1px solid #eee;
	border-radius: 10px;
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
	font-size: 160%;
	font-weight: bold;
	margin: 20px 0;
	padding: 10px;
}

#in-cluster a:link,
#in-cluster a:visited {
	color:#555;
	text-shadow: 1px 1px #fff;
}

#in-cluster a:hover {
	color:#777;
}

#in-cluster ul, #in-cluster dl, #in-cluster dd {
	margin-bottom: 0;
}

#in-cluster label {
	color: #D1E6EF;
	line-height: 100%;
}

#in-cluster li {
	border-right: solid 1px #ccc;
	float: left;
	line-height: 100%;
	list-style-image: none;
	list-style-type: none;
	margin-left:20px;
}

		#in-cluster li.views-row-first {
		margin-left: 0;
		padding-right: 20px;
		}

		#in-cluster li.views-row-last {
		border-right: 0;
		}

#excerpt {
	border-bottom: solid 2px #D1E6EF;
	border-top:solid 2px #D1E6EF;
	font-size: 140%;
	line-height: 120%;
	margin: 20px 0;
	padding: 20px 10px 0 10px;
}

#excerpt p {
	font-style: italic;
	margin-top: 0;
}

#sidebar-last ul {
	margin-left: 0;
	margin-right: 0;
}

#block-apachesolr-mlt-001 ul li {
	border-bottom: solid 1px #bbb;
	list-style-type: none;
	margin-bottom: 5px;
	padding-bottom: 5px;
}

img.imagefield-field_representative_image {
	max-height: 260px;
	max-width: 360px;
}

/*
 * undercover/?q=page_slideshow
 */

.views-field-title a:link, .views-field-title a:visited {
  text-decoration: none;
}

.views-field-title a:hover, .views-field-title a:focus, .views-field-title a:active {
  text-decoration: underline;
  color: #525252;
  /* color: #777; */
  /* font-family:"Times New Roman",Georgia,serif; This can fix the jummping issue, but they want it to change the font-family on hover*/
}

.views-field-title h1.title {
  color: #222;
  font-size: 280%;
  letter-spacing: -.03em;
  line-height: 100%;
}


.views-field-tid span a {
  line-height: 130%;
  font-size: 95%;
  display: inline;
}

.view-Slideshow .views-field-body {
  clear: right;
}

.views-field-field-representative-image-fid, .views-field-body {
  display: inline;
  margin-bottom: 1em;
}

.views-field-field-representative-image-fid {
  float: left;
  margin-right: 1em;
}

.views-field-body {
  width: 60%;  
}

.views-field-tid {
  width: 100%;
  margin-top: .5em;
  display: block;
  clear: both;
}

.views-field-tid span a:link,  .views-field-tid span a:visited {
  background: #EEE;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 4px 10px;
  text-decoration: none;
}

.views-field-tid span a:hover,  .views-field-tid span a:active,  .views-field-tid span a:focus {
  color: #525252;
}

.views-slideshow-controls-bottom {
  clear: both;
}

.views_slideshow_main {
  clear: both;
  margin-bottom: .5em;
  display: block;  
}

.front #page-title, .front .node.node-type-page{
  display: none;
  visibility: hidden;
}

.front #content-content {
  margin-top: 0;
}

#slogan {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

#reportage-left .terms a:hover, #reportage-left .terms a:active, #reportage-left .terms a:focus {
  color: #525252;
}

#reporters ul li a:hover, #reporters ul li a:active, #reporters ul li a:focus {
  color: #525252;
}

#xlinks ul li a:hover, #xlinks ul li a:active, #xlinks ul li a:focus {
  color: #525252;
}

#supplementary ul li a:hover, #supplementary ul li a:active, #supplementary ul li a:focus {
  color: #525252;
}

.published-article div.terms {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 10px;
}

#links ul li a, #links ul li a:link, #links ul li a:active, #links ul li a:visited {
   text-decoration: underline;
}

#links ul li a:hover, #links ul li a:active, #links ul li a:focus {
  color: #525252;
}

.published-article .terms ul li a, .published-article .terms ul li a:link, .published-article .terms ul li a:active, .published-article .terms ul li a:visited {
   text-decoration: underline;
}

.published-article .terms ul li a:hover, .published-article .terms ul li a:active, .published-article .terms ul li a:focus {
  color: #525252;
}

.published-article  h2.title a:hover, .published-article  h2.title a:active, .published-article  h2.title a:focus {
  color: #525252;
}

#excerpt a:hover, #excerpt a:active, #excerpt a:focus {
  color: #525252;  
}
